[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.5.*"
snowflake-snowpark-python = "*"
ipykernel = "*"
duckdb = "*"
pandas = "*"
apache-sedona = "*"

[dev-packages]

[requires]
python_version = "3.12"
